<!DOCTYPE html>
<p id="notice"></p>

　<div calss="row">
    <div class="col-md-8 offset-md-1">
      <h2>商品一覧</h2>
      <table class="table  table-inverse">

        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税別価格</th>
            <th>ジャンル</th>
            <tr>ステータ</tr>
          </tr>
        </thead>

       <tbody>
          <tr>
            <% @items.each do |item| %>
            <td><%= item.id %></td>
            <td>
             <%= item.name %>
            </td>
            <td>
              <%= item.price %>
            </td>
            <td>
              <%= item.introduction %>
            </td>
            <% end %>
          </tr>
       </tbody>

      </table>
    </div>
  </div>