<div class="container"> 
 <div class="row">
  <div class="col-md-8 offset-md-1">
  <p>会員一覧</p>
<table class="table table-striped">
      <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>
   <% @customers.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td><%= link_to f.name_first,admin_customer_path(f.id) %></td>
<!--下の名前もいれる-->
        <td><%= f.email %></td>
        <td>(ステータス)</td>
      </tr>
 <% end %>
  </table>
  </div>
  </div>
  </div>
