<h3>マイページ</h3>
<table class = "table" >
    <tr>
        <string>登録情報</string>
        <th><%#= link_to "編集する", edit_customer_path(.id), class: "btn btn-outline-secondary btn-block" do  %></th>
    </tr>
    <thead>
        <tr>
            <p>氏名</p>
            <%#= customers.name_firs %>　<%#= customers.name_second %>
        </tr>
        <tr>
            <p>カナ</p>
            <%#= customers.name_firs_rubi %>　<%#= customers.name_second_rubi %>
        </tr>
        <tr>
            <p>郵便番号</p>
            <%#= customers.post_code %>
        </tr>
        <tr>
            <p>住所</p>
            <%#= customers.address %>
        </tr>
        <tr>
            <p>電話番号</p>
            <%#= customers.tel %>
        </tr>
        <tr>
            <p>メールアドレス</p>
            <%#= customers.email %>
        </tr>
    </thead>
    <tr>
        <string>配送先</string>
        <%#= link_to "一覧を見る", index_customer_path(.id), class: "btn btn-outline-secondary btn-block" do  %>
    </tr>
    <tr>
        <string>注文履歴</string>
        <%#= link_to "一覧を見る", index_orders_path(.id), class: "btn btn-outline-secondary btn-block" do  %>
    </tr>
</table>  