<!DOCTYPE html>

  <h2>注文履歴一覧</h2>
  <div class="container">
    <div class="row">
      <table class="table table-bordered table-condensed">
        <thead class="bg-secondary bg-gradient">
          <tr>
            <th class="border border-dark">注文日</th>
            <th class="border border-dark">配送先</th>
            <th class="border border-dark">注文商品</th>
            <th class="border border-dark">支払金額</th>
            <th class="border border-dark">ステータス</th>
            <th class="border border-dark">注文詳細</th>
          </tr>
        </thead>
      </table >  
    </div>
  </div>  