<div class = "container px-5 px-sm-0" >
<div class = "row" >
<h3>商品一覧</h3>
<p>(全 <%# current_admin.items.where.count %> 件)</p>
<% @items.each do |item| %>
<%= image_tag item.get_item_image(100,100) %>

    <span>
        <%= item.name %>
    </span>

    <p><%= item.price %></p>
<% end %>
</div>
</div>
<%#= paginate item_images %>